* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* general styles */
html {
  font-size: 40%;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.618rem;

  /* background-image: url(./textures/textured-paper.png),
    linear-gradient(to right, #fffcdc, #d9a7c7); */
}
h1 {
  font-size: 11.089rem;
}
h2 {
  font-size: 6.854rem;
}

h4 {
  font-size: 4.236rem;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}
span {
  font-size: 1.618rem;
}
/* modifier classes */
.center-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.glass {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.101);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
/* layout */

/* body of timeline + grid */
.timeline-container {
  background-image: url(./textures/textured-paper.png),
    linear-gradient(to right, #fffcdc, #d9a7c7);

  position: relative;
  height: 100%;
  width: 100vw;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mask {
  position: absolute;
  mix-blend-mode: exclusion;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 255, 34);
}
.mask1 {
  clip-path: circle(25% at 50% 0%);
}
.mask2 {
  clip-path: circle(25% at 50% 100%);
}

.timeline-list {
  padding: 0 1em;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10em;
  column-gap: 1em;
  position: relative;
}
/* odd events to the right */
/* _______________________ */
li:nth-child(odd) {
  grid-column: 2/3;
  grid-row: span 2;
}

/* even events to the left */
/* _______________________ */

li:nth-child(even) {
  grid-column: 1/2;
  grid-row: span 2;
}

/* line through the middle of body */
.timeline-list::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*  a single event on timeline */

.timeline-list__item {
  padding: 1em;
  position: relative;
  white-space: pre-line;
  border-radius: 10px;
}

/* all children in event aligned to start */
.timeline-list__item > * {
  align-self: flex-start;
}
.timeline-list__item > h1 {
  align-self: flex-end;
}

@media (min-width: 800px) {
  html {
    font-size: 62.5%;
  }
}
